.photo{
margin:115px 200px;
background-color:#FFECC9;
width:160px;
height:200px;
text-align:center;
line-height:185px;
float:left;
}
.signature{
margin:115px 370px;
background-color:#FFECC9;
width:160px;
height:200px;
float:left;
line-height:185px;
text-align:center;
}
